* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 500px;
  height: 500px;
  display: grid;

  margin: 20px;
  border: 1px solid red;
}
.sketch-divs {
  background-color: violet;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  height: 5px;
  width: 5px;
}
